html{
  font-size: 62.5%;
}

body{
  background-image: url('/img/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  max-width: 98.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6.5rem;
}

h2 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 200;
  text-transform: uppercase;
}

header > h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.4rem;
}

footer > h2 {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  margin-top: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 98.9rem;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.content{
  max-width: 98.9rem;
  min-width: 37.5rem;
  margin-bottom: 4rem;
  margin-top: 1.4rem;
}

h1{
  font-family: 'Anjel Script';
  font-style: normal;
  font-weight: normal;
  font-size: 7.2rem;
  line-height: 7.2rem;
  text-align: center;
}

ul{
  display: flex;
  justify-content: space-between;
  padding: 0 2.2rem;
}

ul > li{
  font-family: 'Kurale';
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

ul > li > img{
  margin-bottom: 0.6rem;
}

ul > li > p:first-of-type{
  margin-bottom: 0.4rem;
  opacity: 0.4;
}

ul > li:last-of-type > img {
  margin-bottom: 1rem;
}

section.date{
  text-align: center;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.date > div > h3 {
  font-family: 'Rozha One';
  font-style: normal;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 5.7rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.line{
  width: 40px;
  height: 1px;
  border-top: 1px solid black;
  opacity: 0.4;
  align-self: center;
}

.title{
  text-align: center;
  min-height: 22.6rem;
 /* // background-image: url('/img/watercolor.webp');
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  
  width: 100%; */
}

.subtitle{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.subtitle > h2 {
  margin-top: 1.4rem;
}

@media (min-width: 768px) {
  body{
    background-image: url('/img/bg2.webp');
  }

  html{
    font-size: 70%;
  }

  .container{
    max-height: 70.4rem;
  }
}