html{
  font-size: 62.5%;
}

body{
  background-image: url('/img/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  min-width: 37.5rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 98.9rem;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

h1{
  font-family: 'Anjel Script';
  font-style: normal;
  font-weight: normal;
  font-size: 7.2rem;
  line-height: 7.2rem;
  text-align: center;
}

hr{
  width: 40px;
  height: 1px;
  border-top: 1px solid black;
  opacity: 0.4;
  align-self: center;
  margin-top: 1.4rem;
}

section.header {
  width: 100vw;
  max-width: 98.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6.1rem;
}

section.header > h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

section.hosts{
  text-align: center;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/img/watercolor.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100vw;
}

section.invitation{
  max-width: 98.9rem;
  min-width: 37.5rem;
  margin-bottom: 4rem;
}

section.invitation > h3 {
  font-family: 'Rozha One';
  font-style: normal;
  font-weight: 400;
  font-size: 4.0rem;
  line-height: 5.7rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

section.invitation > .date {
  text-align: center;
  margin-bottom: 2rem;
}

section.invitation > .date > p:nth-child(1), section.invitation > .date > p:nth-child(3), section.invitation  > p, h2 {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

section.invitation > .date > p:nth-child(2) {  
  font-family: 'Rozha One';
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 5.7rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

section.invitation > ul > li {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

section.invitation > ul {
  display: flex;
  justify-content: space-between;
  padding: 0 2.2rem;
}

section.invitation > ul > li > a > img{
  margin-bottom: 0.6rem;
}

section.invitation > ul > li > a > p:first-of-type{
  margin-bottom: 0.4rem;
  opacity: 0.4;
}

section.invitation > ul > li:last-of-type > a > img {
  margin-bottom: 1rem;
}

section.invitation > p {
  margin-top: 3rem;
}

@media (min-width: 1140px) {
  body{
    background-image: url('/img/bg2.webp');
    background-size: cover;
  }
}

@media (min-width: 768px) {
  html{
    font-size: 70%;
  }

  section.header{
    margin-top: 10.5rem;
  }

  .container{
    max-height: 70.4rem;
  }
}